@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
body {
  background-color: #9d5ebe;
}

#background-image {
    background-image: url("assets/images/background-pattern-desktop.svg");
}
.card {
  background-color: #fff;
  width: 600px;
  margin: 100px auto;
  padding: 4rem;
  border-radius: 1rem;
}
.heading {
    display: flex;
}
#heading-faq {
    margin-left: 1rem;
    font-size:4rem;
    font-weight: 700;
}
.question-answer-wrapper {
    border-top: 2px solid rgb(219, 219, 219);
    padding-block: 1rem;
}
.question-wrapper{
    display: flex;
    justify-content: space-between;
}
#q1 {
    font-weight: bold;
}
.answer {
    color: gray;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}
.toggle-answer {
    max-height: 200px;
    transition: max-height 0.5s ease-out;
}
.question-answer-wrapper:hover {
    color: #9D5EBE;
}
