@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0; 
    padding: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    --active-state: #C4F82A;
}
body{
    background-color: #141414;
    color: whitesmoke;
}

.card{
    background-color: #1F1F1F;
    width: 400px;
    margin: 100px auto;
    padding: 2rem;
    border-radius: 2rem;
}
.image{
    width: 100px;
    display: block;
    margin-inline: auto;
    border-radius: 50%;
}
.detail-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail {
    margin-block: 0.5rem;
    width: fit-content;
    text-align: center;
}
#name{
    font-size: 2rem;
}
#address {
    color: #A3BE55;
}
#description {
    color: gray;
}
.social-link{
    background-color: #333333;
    margin-block: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
}
.social-link:hover{
    background-color: var(--active-state);
    color: dimgray;
}

@media (max-width: 400px){
    .card{
        width: 90%;
        border-radius: 2rem;
    }
}