* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Inter";
}

body {
  font-size: 1rem;
  font-family: "Inter";
  background-color: white;
}

.base {
  background-color: hsl(31, 86%, 94%);
  width: 90vw;
  height: 90vh;
  margin: 1rem auto;
  padding: 1rem;

  border-radius: 1rem;
  box-shadow: 0 0 10px 10px hsl(0, 0%, 0%, 0.1);
}

.left {
  /* background-color: hsl(180, 100%, 90%); */
  width: 50%;
  display: flex;
  flex-direction: column;
}

.pfp {
  width: 10rem;
  height: 10rem;
  margin: auto;
  border-radius: 5rem;
  overflow: hidden;
}

.writing-area {
  background-color: hsl(33, 100%, 98%);
  font-size: 1rem;
  padding: 0.5em;
  margin: 8px;
  border: solid 1px hsla(0, 0%, 0%, 0.2);
  border-radius: 6px;
}

.writing-area:hover {
  background-color: hsl(40, 3%, 81%);
}

.f-l-name {
  width: 50%;
}

.right {
  /* background-color: aquamarine; */
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Gender {
  margin: 0 0.5rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.Gender input {
  height: 1.2rem;
  width: 1.2rem;
}
.Gender input:hover {
  cursor: pointer;
}

.dob select {
  background-color: white;
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 0.5em;
  border: solid 1px hsla(0, 0%, 0%, 0.1);
  border-radius: 0.5rem;
}

.doj input {
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 0.5em;

  border: solid 1px hsla(0, 0%, 0%, 0.1);
  border-radius: 0.5rem;
}

.btn {
  margin-top: 5rem;
  text-align: center;
}

.b1 {
  background-color: #fff;
  font-size: 1.5rem;
  padding: 0.4em 2em;
  border: none;
  border-radius: 1rem;
}
.b1:hover {
  background-color: hsl(31, 100%, 85%);
  cursor: pointer;
}
