@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color_text);
  text-decoration: none;
  --color1: #e7f4ff;
  --color2: white;
  --color3: #d3ebff;
  --color_text: black;
  --primary_accent: #3a7db8;
}
body {
  background-color: var(--color1);
}

h1 {
  color: var(--color_text);
  font-family: 'Noto Serif Display','Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 4rem;
  margin: 2rem;
  text-align: center;
}
h2 {
  color: var(--color_text);
  font-family: 'Noto Serif','Times New Roman', Times, serif;
  font-weight: bold;
}
.part-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.part {
  background-color: var(--color2);
  min-width: 30%;
  max-width: 40%;
  padding: 2rem;
  border-radius: 1rem;
}
.part > h2 {
  margin-bottom: 1rem;
}
.project-link {
  display: block;
  background-color: var(--color3);
  margin-bottom: 1rem;
  padding: 0.5rem;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color2);
  transition: border 0.4s ease;
}
@media not (hover:none) {
  .project-link:hover {
    border: 2px solid var(--primary_accent);
    transition: border 0.4s ease;
  }
}
@media (max-width: 640px) {
  h1 {
    font-size: 3rem;
  }
  .part-wrapper {
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
  }
  .part {
    max-width: 100%;

  }
}
