@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --gap: 8px;
  --rounded: 8px;


  /* theme*/
  
  --colorElevation0: transparent;
  --colorElevation1: hsla(0, 0%, 100%, 0.02);
  --colorElevation2: hsla(0, 0%, 100%, 0.04);
  --colorElevation3: hsla(0, 0%, 100%, 0.08);
  /* --colorElevation4: hsla(0, 0%, 100%, 0.12); */
  
  --colorText: hsl(0, 0%, 96%);
  --colorText1: hsla(0, 0%, 100%, 0.86);
  --colorText2: hsla(0, 0%, 100%, 0.60);
  /* --colorText3: hsla(0, 0%, 100%, 0.38); */
  /* --colorText4: hsla(0, 0%, 100%, 0.20); */
  
  /* --colorElements: #808080; */
  --colorElements1: hsla(0, 0%, 100%, 0.20);
  /* --colorElements2: hsla(0, 0%, 100%, 0.40); */
  /* --colorElements3: hsla(0, 0%, 100%, 0.60); */
  /* --colorElements4: hsla(0, 0%, 100%, 0.80); */
  
  --colorPrimary: black;
  --colorPrimary1: hsl(0, 0%, 7%);
  --colorPrimary2: hsla(0, 0%, 0%, 0.60);
  /* --colorSecondary: white; */
  --colorAccent: #dc143c;

  --colorError: hsl(358, 62%, 48%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--colorText);
  text-decoration: none;
}


:root[data-theme='light'] {
  /* something here */
}


body {
  background-color: var(--colorPrimary1);
}

main {
  /* background-color: var(--colorPrimary1); */
  background-color: transparent;
  padding: 8px;
}

h1 {
  color: var(--colorAccent);
  font-weight: bold;
  font-size: 4.2rem;
  margin: 32px;
  text-align: center;
}

h2 {
  text-align: center;
  color: var(--colorText);
  font-size: 2.56rem;
  font-weight: 200;
  margin-block: 16px;
  letter-spacing: 4px;
}

section {
  background-color: var(--colorElevation0);
  margin-block: calc(var(--gap) * 3);
  padding: var(--gap);
  border-radius: calc(var(--rounded)*2);
  border: 1px solid var(--colorElements1);
}

footer {
  background-color: var(--colorPrimary);
  text-align: center;
  height: 50vh;
  padding-block: 16px;
}

footer p {
  color: var(--colorText2);
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

.project-link {
  aspect-ratio: 16/9;
  background-color: var(--colorElevation1);
  /* padding: var(--gap); */
  position: relative;
  border: 1px solid var(--colorElements1);
  border-radius: var(--rounded);
  transition: border 0.2s ease, filter 0.4s ease;
}

.project-content {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: var(--rounded);
  overflow: hidden;
}

.project-image {
  position: absolute;
  height: 100%;
  width: 100%;
}

.project-video {
  position: absolute;
  width: 100%;
}

.project-details {
  width: 100%;
  height: 100%;
  padding: calc(var(--gap)*2);
  position: absolute;
  z-index: 1;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  align-items: end;
  overflow: clip;
  border-radius: var(--rounded);
}

.project-details::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(0deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 24%);
  scale: 1.2;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  filter: blur(8px);
  pointer-events: none;
}

.project-name {
  color: var(--colorText1);
}

.project-date {
  color: var(--colorText2);
}

.open-project {
  background-color: var(--colorPrimary2);
  backdrop-filter: blur(8px);
  padding-inline: calc(var(--gap) * 2);
  padding-block: var(--gap);
  position: absolute;
  z-index: 1;
  left: 50%;
  top: calc(var(--gap) + 50%);
  transform: translate(-50%, -50%);
  border-radius: 2em;
  opacity: 0;
  box-shadow: 0 2px 8px 0px var(--colorPrimary2);
}


@media (hover:hover) {
  .project-link:hover .project-content {
    filter: brightness(50%);
  }

  .project-link:hover .open-project {
    opacity: 1;
  }

  .project-link:active {
    background-color: var(--colorElevation3);
  }
}

@media (hover:none) {
  .project-link:focus-within {
    background-color: var(--colorElevation3);
  }
}