html {
    scroll-behavior: smooth;
}

.clickable,
button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb{
    border-radius: 1rem;
    background-color: hsl(0, 0%, 50%);
}