@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-size: 18px;
    font-optical-sizing: auto;
    font-weight: 400;
}

p{
    line-height: 1.5rem;
}

.wrapper{
    margin: auto;
    max-width: 1920px;
    padding: 10rem;
}

.top{
    display: flex;
}
.topic{
    width: 35%;
}

.topic h1{
    font-size: 4rem;
    font-weight: 700;
}
    .topic p{
    padding: 2rem 0;
    color:hsl(303, 10%, 53%);
    font-weight: 500;
}

.star{
    width: 25px;
    height: 16px;
    background-image: url(assets/icon-star.svg);
    background-repeat: no-repeat;
    display: inline-block;
}

.review-holder-wrapper{  
    width: 65%;
}
.review-holder{ 
    width: 100%; 
    height: 100%;
    padding: 0 10%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}
.review-holder h4{
    font-weight: 700;
    padding: 0 1rem;
}

.review{
    max-width: 90%;
    height:60px;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
}
.r1{
    justify-self: start;
}
.r2{
    justify-self: center;
}
.r3{
    justify-self: end;
}

.bottom{
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
}
.card{
    background-color: hsl(300, 43%, 22%);
    color: hsl(300, 24%, 96%);

    min-width: 0;
    height: 90%;
    padding: 2rem;
    border-radius: 0.5rem;
}

.profile{
    display: flex;
    gap: 1rem;
}

.profile img{
    border-radius: 5rem;
    max-width: 2rem;
    height: 100%;
}

.card h3{
    color: hsl(333, 80%, 67%);
}

.card p{
    padding: 1rem 0;
}

.colton{
    align-self: self-start;
}
.irene{
    align-self: center;
}
.anne{
    align-self: self-end;
}


@media (max-width:1024px){
    .wrapper{
        padding: 8rem;
    }
    .review-holder{ 
        padding: 0 10%;
    }

}

@media (max-width:768px){

    .wrapper{
        padding: 4rem;
    }

}


@media (max-width:640px){

    .wrapper{
        padding: 4rem 2rem;
    }

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .topic{
        width: 70%;
        text-align: center;
    }

    .review-holder-wrapper {
        width: 100%;
    }

    .review-holder{ 
        padding: 0;
        text-align: center;
    }

    .review-holder h4 {
        padding: 0;
    }
    
    .review{
        width: 100%;
        height:auto;
        padding: 2rem 0;
        display: block;
        justify-self: center;
    }

    
    .bottom {
        padding:0;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1.5rem;
        justify-items: center;
    }

    .card{
        width: 70%;
        height: 100%;
    }
}
