*{ 
    margin: 0;
    padding: 0; 
    font-size: 1rem;
    font-family: "Red Hat Display";
    font-weight: 500;
    box-sizing: border-box;
}

body{
    background-color: hsl(225, 100%, 90%);
}

.card-wrapper{
    width: 100vw;
    height: 100vh;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: white;
    max-width: 320px;
    max-height: 500px;
    /* height: 100%; */
    border-radius: 1rem;
    box-shadow: 0 10px 20px -5px hsl(0, 0%, 0%, 0.3);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.picture img{
    width: 100%;
    height: 100%;
}

.written{
    max-height: 100%;
    padding: 1rem 2rem;
    flex-grow: 1;
    justify-content: space-between;
    gap: 1rem;
}

.written h3{
    font-size: 1.5rem;
    font-weight: 900;
}
.des p{
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    opacity: 0.5;
}

.plan-box{
    width: 100%;
    margin: 0 auto;
    padding: 0.5em 1rem;
    border: 1px solid hsl(0, 0%, 0%, 0.2);
    border-radius: 0.5em;
    display: flex;
    justify-content: space-between;
}
.plan-box:hover{
    background-color: hsl(240, 61%, 90%);
}


.image{
    line-height: 0;
}

.plan{
    font-size: 1rem;
}

.plan h5{
    font-size: 0.8rem;
    font-weight: 700;
}

.plan p{
    font-size: 0.8rem;
    font-weight: 700;
    opacity: 0.5;
}

.plan-box u{
    font-size: 0.8rem;
    font-weight: 700;
    color: hsl(219, 71%, 51%);
}
.plan-box u:hover{
    cursor: pointer;
}

.button{
    background-color: hsl(245, 75%, 52%);
    font-size: 0.8rem;
    color: white;
    text-align: center;

    width: 100%;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 10px 10px -5px hsl(0, 0%, 0%, 0.4);
}
.button:hover{
    background-color: hsl(245, 75%, 62%);
    cursor: pointer;
}

.para{
    margin-block: 0 10px;
    opacity: 0.5;
    font-size: 0.8rem;
    font-weight: 700;
}

.para:hover{
    cursor: pointer;
}