.flex{
    display: flex;
}

.flex-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-col-start{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.flex-col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-col-end{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.g02{ gap:0.2rem; }
.g04{ gap:0.5rem; }
.g05{ gap:0.5rem; }
.g08{ gap:0.8rem; }
 
.g1{ gap:1rem; }
.g2{ gap:2rem; }
.g3{ gap:3rem; }
.g4{ gap:4rem; }

.bold{
    font-weight: bold;
}

.full-scale{
    width: 100%;
    height: 100%;
}
