*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Metropolis";
}

body{
}

.backgd{
    background-color:hsl(185, 75%, 39%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    z-index:-1;
}

.top{
    width: 50%;
    object-fit: contain;
    transform: translate(0,-50%);
}
.bottom{
    width: 50%;
    object-fit: contain;
    transform: translate(0,50%);
}

.card{
    margin: auto ;
    width: 320px;
    border-radius: 1rem;
    overflow: hidden;

    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
}

.cover{
    line-height: 0;
}
.cover img{
    width: 100%;
}

.image{
    text-align: center;
    height: 0rem;
}

.image img{
    transform: translate(0,-50%);
    border: 5px solid white;
    border-radius: 5rem;
    
}
.writing-area-wrapper{
    background-color: white;
    height: 220px; 
}
.writing-area{
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 2fr 1fr;

    align-items: end;
    justify-items: center;
}

.name{
    display: flex;
    justify-content: center;
    gap: 0.5em;
}
.name h1{
font-weight: 800;
}
.name h4{
    font-size: 16px;
    font-weight: 400;
    color: hsl(0, 0%, 50%);
}

.address{
    padding-block: 1rem 1rem;
}

.data{
    width: 100%;
    padding-block: 1rem;
    border-top: 1px solid hsla(0, 0%, 0%, 0.1);
    display: flex;
    justify-content: space-evenly;
}

.data p{
    color: hsl(227, 10%, 46%);
    font-size: 12px;
    font-weight: 200;
}