:root{
    --color1:hsl(31, 80%, 45%);
    --color2:hsl(184, 100%, 22%);
    --color3:hsl(179, 100%, 13%);
}

*{
    margin: 0;
    padding: 0;
    font-family: Lexend Deca;
    box-sizing: border-box;
}

body{  
    background-color: hsl(197, 100%, 20%);

}

h1{
    font-family: "Big Shoulders Display";
    color: hsl(0, 0%, 95%);
    padding: 0 0 2rem 0;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    min-height: 55%;
    padding: 0 0 5rem 0;
}

.card-wrapper{
    width: 100vw;
    height: 100vh;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-cars{
    color: white;
    width: 900px;
    border-radius: 1rem;
    overflow: hidden;
    
    box-shadow: 0 15px 20px -5px hsla(0, 0%, 0%,0.5);
    display: flex;
}

.p-3{
padding: 3rem;}

.sedan{
    width: 33.33%;
    background-color: var(--color1);    
}
.suv{
    width: 33.33%;
    background-color: var(--color2);    
    
}

.luxury{
    width: 33.33%;
    background-color: var(--color3);    
    
}

.button-wrapper{
object-position: right;
}
.button{
    background-color: white;
    color: black;
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 1em;
    border-radius: 4em;
}

.button1{
    color: var(--color1);
}
.button2{
    color: var(--color2);
}
.button3{
    color: var(--color3);
}

@media(max-width:900px){
    .card-cars{
        transform: scale(0.8);
    }
}
@media(max-width:640px){

    .card-wrapper{
        height: 100%;
        align-items: flex-start;
        padding: 30px 0;
    }

    .card-cars{
        width: 80%;
        flex-direction: column;
    }

    .mobile-fw{
        width: 100%;
    }
}
