@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --highlight_1: hsl(178, 100%, 50%);
  --highlight_2: hsl(215, 51%, 70%);
  --dark_blue_1: hsl(217, 54%, 11%);
  --dark_blue_2: hsl(216, 50%, 16%);
  --dark_blue_3: hsl(215, 32%, 27%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, Helvetica, sans-serif;
}
body {
  background-color: var(--dark_blue_1);
}

.nft-card {
  background-color: var(--dark_blue_2);
  width: 320px;
  margin: 100px auto;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 1rem 1rem hsla(0, 0%, 0%, 0.05);
}
.nft-card .image {
  width: 100%;
  border-radius: 1rem;
  line-height: 0;
  overflow: hidden;
  position: relative;

  margin-bottom: 1rem;
}
.nft-card .image img {
  width: 100%;
}
.text-zone {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-text {
  font-size: 1.5rem;
  color: white;
  transition: color 0.4s ease;
}
.description-text {
  color: var(--highlight_2);
}
.cost-time-zone {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-block: 1.5rem;
  border-bottom: 2px solid var(--dark_blue_3);
}
.cost-time-zone .cost {
  color: var(--highlight_1);
}
.cost-time-zone .clock {
    vertical-align: middle;
    margin-right: 0.2rem;
    transform: translate(0, -0.1rem);
}
.cost-time-zone .time {
  color: var(--highlight_2);
}
.profile-zone {
  display: flex;
  gap: 1rem;
  margin-block: 1rem;
  align-items: center;
}
.profile-zone > img {
  width: 2rem;
  border-radius: 4rem;
  border: 2px solid white;
}
.profile-zone .creater {
  display: inline;
  color: var(--highlight_2);
}
.profile-zone .name {
  display: inline;
  color: white;
  transition: color 0.4s ease;
}

@media not (hover: none) {
  .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--highlight_1);
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  .image::after {
    content: url("images/icon-view.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  .image:hover::before {
    opacity: 0.2;
    transition: opacity 0.4s ease;
  }
  .image:hover::after {
    opacity: 1;
    transition: opacity 0.4s ease;
  }
  .image:hover {
    cursor: pointer;
  }
  .text-zone .main-text:hover,
  .profile-zone .name:hover {
    color: var(--highlight_1);
    transition: color 0.4s ease;
    cursor: pointer;
  }
}

@media (max-width:640px) {
    .nft-card {
        max-width: 90%;
      }
}
